body{
    margin: 0%;
}

header{
    width: 100%;
    height: 100px;
    text-align: center;
    align-content: center;
    margin: 0%;
}

.logo{
    width: 10%;
}

hr{
    border-color: orange;
    margin: 0%;
}

nav{
    width: 100%;
    height: 50px;
    background-color: antiquewhite;
    text-align: center;
    align-content: center;
    margin: 0%;
}

nav p{
    font-family: 'Times New Roman', Times, serif;
    color: rgb(6, 79, 6);
}

.section-1{
    align-content: center;
    text-align: center;
}

h1{
    text-align: center;
    font-size: 3em;
}

.text-introduction{
    text-align: center;
    width: 76.5%;
    margin-left: 110PX;
}

.text-1{
    text-align: left;
}

.image{
    text-align: center;
}

.image-author{
    text-align: center;
    color: gray;
}

.linea{
    width: 2px;
    height: 50px;
    background-color: orange;
    float: left;
    margin-left: 110px;
    margin-right: 10px;
}

.text-2{
    color: rgb(238, 93, 31);
    text-align: left;
    align-content: center;
    height: 50px;
}

h3{
    margin-top: 50px;
    margin-left:110px ;
}

.green-row{
    width: 76.5%;
    display: flex;
    margin-left: 110PX;
}